<md-card class="about-md-card">
  <p>Hello,</p>
  <p>I create this website as a personal presentation, and to make easy for potential employers to get insight about my skills,
    and also as a proof of those skills. Feel free to explore experience page and to contact me for potential cooperation.</p>
  <p>Best Regards,</p>
  <p>Ivan Tanasijevic</p>
  <md-card-actions>
    <a class="img-about" target="_blank" href="https://github.com/ivantanasi/ivan-tanasi">
      <img src="./assets/img/github.ico"></a>
    <a target="_blank" href="https://stackoverflow.com/users/492867/tanasi">
      <img src="./assets/img/stackoverflow.ico"></a>
    <a target="_blank" href="https://www.linkedin.com/in/ivantanasi/">
      <img src="./assets/img/linkedin.png">
    </a>
  </md-card-actions>
</md-card>



<!-- <p>Hello, My name is Ivan Tanasijevic. I create this website as a personal presentation, and to make easy for potential employers
  to get insight about my skills, and also as a proof of those skills. Feel free to explore experience page and to contact
  me for potential cooperation. Best Regards, Ivan Tanasijevic
</p> -->
