<md-card class="about-md-card">
  <p>Hi,</p>
  <p>I create this website as a personal presentation, and to make easy for potential employers to get insight about my skills,
    and also as a proof of some of those skills.</p>
  <p>I am working as a Software Developer from 2010, mainly in Microsoft technologyes .NET, C# etc.</p>
  <p>I've been working lately with frontend javascript frameworks like Angular, React and Vue, mostly with Angular.</p>

  <p>Down below in footer, there is a links to my
    <a target="_blank" href="https://www.linkedin.com/in/ivantanasi">LinkedIn</a>,
    <a target="_blank" href="https://github.com/ivantanasi">GitHub</a> and
    <a target="_blank" href="https://stackoverflow.com/users/492867/tanasi">StackOverflow</a> accounts.
  </p>
  <p>On my
    <a target="_blank" href="https://www.linkedin.com/in/ivantanasi">LinkedIn</a> page, you can see my working history.</p>
  <p>On
    <a target="_blank" href="https://github.com/ivantanasi">GitHub</a> account, you can see the
    <a target="_blank" href="https://github.com/ivantanasi/ivan-tanasi">source code</a> for this presentation.</p>

  <p>Technologies which I find very interesting and with which I would like to work and get familiar in the future:</p>

  <ul>
    <li>Artificial Intelligence</li>
    <li>WebAssembly</li>
    <li>Progressive web app</li>
    <li>Blockchain</li>
  </ul>

  <p>Feel free to explore experience page and to contact me for potential cooperation.
    <br />ivantanasi111@gmail.com</p>

  <p>Best Regards,</p>
  <p>Ivan Tanasijevic</p>

</md-card>
