<md-card class="about-md-card">
  <p>Hi,</p>
  <p>I create this website as a personal presentation, and to make easy for potential employers to get insight about my skills,
    and also as a proof of some of those skills. Feel free to explore experience page and to contact me for potential cooperation.</p>
  <p>On my
    <a target="_blank" href="https://www.linkedin.com/in/ivantanasi/">LinkedIn</a> page you can see my working history</p>
  <p>Technologyes which I find whery interesting:</p>
  <ul>
    <li>Artificial Inteligence</li>
    <li>Web Assembly</li>
    <li>Progressive web app</li>
    <li>Blockchain</li>
  </ul>
  <p>Best Regards,</p>
  <p>Ivan Tanasijevic</p>
</md-card>

<!-- 
  text 
-->
