.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto auto 100px;
  grid-template-areas: "sidenav content" "sidenav content" "footer footer";
}

.sidenav {
  grid-area: sidenav;
  background-color: rgba(101, 115, 187, 0.56);
  /* opacity: 0.8; */
}

.content {
  grid-area: content;
  /* background-color: #000000;
  opacity: 0.7; */
}

.footer {
  grid-area: footer;
  background-color: #E0E0E0;
  opacity: 0.7;
}

@media all and (max-width: 361px) {
  /* grid-template-areas: "sidenav sidenav" "content content" "footer footer"; */
  .sidenav {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .content {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .footer {
    grid-column: 1 / 2;
    grid-row: 3;
  }
}

.exp-background {
  background: url(/assets/img/experience.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-background {
  background: url(/assets/img/about.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.interest-background {
  background: url(/assets/img/interest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}