.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "sidenav content" "sidenav content" "footer footer";
}

.sidenav {
  grid-area: sidenav;
  background-color: #8ca0ff;
}

.content {
  grid-area: content;
  background-color: #CFD8DC;
}

.footer {
  grid-area: footer;
  background-color: #ffff64;
}
