.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "sidenav content" "sidenav content" "footer footer";
}

.sidenav {
  grid-area: sidenav;
  background-color: #E8EAF6;
}

.content {
  grid-area: content;
  background-color: #FFF3E0;
}

.footer {
  grid-area: footer;
  background-color: #E0E0E0;
}
