<div [ngClass]="this.globalData.shareObj['background']">
  <div class="wrapper">
    <app-sidenav></app-sidenav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">


      <p style="text-align: center; color: #586069; font-size: 12px">Ivan Tanasijevic</p>
      <p style="text-align: center;">
        <a target="_blank" href="https://github.com/ivantanasi/ivan-tanasi">
          <img src="./assets/img/ico/github.ico">
        </a>
        <a target="_blank" href="https://stackoverflow.com/users/492867/tanasi">
          <img src="./assets/img/ico/stackoverflow.ico">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/ivantanasi/">
          <img src="./assets/img/ico/linkedin.png">
        </a>
      </p>



    </div>
  </div>
</div>
