.technology {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.mat-card-avatar {
  border-radius: 0%;
}
