<div class="experience">
  <div class="filter-technology">

    <mat-form-field>
      <input matInput placeholder="Technology name" [(ngModel)]="nameSearch">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Technology type" style="width: 200px" [(ngModel)]="typeSearch">
        <mat-option value="">All</mat-option>
        <mat-option value="JavaScript Framework">JavaScript Framework</mat-option>
        <mat-option value="Web framework">Web framework</mat-option>
        <mat-option value="Framework">Framework</mat-option>
        <mat-option value="Programming language">Programming language</mat-option>
        <mat-option value="Code editor">Code editor</mat-option>
        <mat-option value="Source control">Source control</mat-option>
        <mat-option value="IDE">IDE</mat-option>
        <mat-option value="OS">OS</mat-option>
        <mat-option value="Tool">Tool</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="technology">

    <mat-card *ngFor="let exp of experiences | filter:nameSearch:typeSearch" style="opacity: 0.8">

      <mat-card-header>
        <img mat-card-avatar src={{exp.iconPath}}>
        <mat-card-title>{{exp.name}}</mat-card-title>
        <mat-card-subtitle>{{exp.type}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{exp.description}}</p>
      </mat-card-content>

    </mat-card>

  </div>

  <mat-spinner style="margin:50px auto;" *ngIf="!experiences"></mat-spinner>

</div>
