.experience-md-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: auto;
}

.mat-card-avatar {
  border-radius: 0%;
}

.wrapper .technology {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  /* grid-gap: 2em; */
}