<div>
  <div class="filter-technology">

    <md-form-field style="margin-left: 10px">
      <input mdInput placeholder="Technology name" [(ngModel)]="nameSearch">
    </md-form-field>

    <md-select placeholder="Technology type" style="width: 200px" [(ngModel)]="typeSearch">
      <md-option value="">All</md-option>
      <md-option value="JavaScript Framework">JavaScript Framework</md-option>
      <md-option value="Web framework">Web framework</md-option>
      <md-option value="Framework">Framework</md-option>
      <md-option value="Programming language">Programming language</md-option>
      <md-option value="Code editor">Code editor</md-option>
      <md-option value="Source control">Source control</md-option>
      <md-option value="IDE">IDE</md-option>
      <md-option value="OS">OS</md-option>
      <md-option value="Tool">Tool</md-option>
    </md-select>

  </div>

  <div class="technology">

    <md-card *ngFor="let exp of experiences | filter:nameSearch:typeSearch" style="opacity: 0.8">

      <md-card-header>
        <img md-card-avatar src={{exp.iconPath}}>
        <md-card-title>{{exp.name}}</md-card-title>
        <md-card-subtitle>{{exp.type}}</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <p>{{exp.description}}</p>
      </md-card-content>

    </md-card>

  </div>

  <md-spinner style="margin:50px auto;" *ngIf="!experiences"></md-spinner>

</div>
