<md-toolbar>
  Experience</md-toolbar>

<md-card *ngFor="let exp of experiences" class="experience-md-card" style="float:left; width:40%; margin-left:20px;">
  <md-card-title>
    {{exp.name}}
  </md-card-title>
  <md-chip-list>
    <md-chip>{{exp.type}}</md-chip>
  </md-chip-list>
  <md-chip-list>
    <md-chip>{{exp.description}}</md-chip>
  </md-chip-list>
  <md-chip-list>
    <md-chip>{{exp.iconPath}}</md-chip>
  </md-chip-list>
</md-card>
<md-spinner style="margin:10px auto;" *ngIf="!experiences"></md-spinner>
