.experience {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.technology {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
  grid-gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.mat-card-avatar {
  border-radius: 0%;
}

.filter-technology {
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: #fff;
  opacity: 0.9;
}

mat-form-field {
  margin-left: 10px;
}
