.interest {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-auto-rows: 300px; */
  grid-template-areas: ". ai ." "wa . bc";
  grid-gap: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ai {
  grid-area: ai;
}

.wa {
  grid-area: wa;
}

.bc {
  grid-area: bc;
}
