<div class="interest">

  <md-card style="opacity: 0.8" class="ai">
    <md-card-header>
      <md-card-subtitle>Artificial Intelligence</md-card-subtitle>
    </md-card-header>

    <md-card-content>
      <img src="../assets/img/ico/ai.jpg" mdTooltip="I gues every programmer subconesly choose this carier becouse of AI :)">
      <p>content</p>
    </md-card-content>

  </md-card>

  <md-card style="opacity: 0.8" class="wa">

    <md-card-header>
      <md-card-subtitle>WebAssembly</md-card-subtitle>
    </md-card-header>

    <md-card-content>
      <img src="../assets/img/ico/wa.png" mdTooltip="WebAssembly">
      <p>content</p>
    </md-card-content>

  </md-card>

  <md-card style="opacity: 0.8" class="bc">

    <md-card-header>
      <md-card-subtitle>Blockchain</md-card-subtitle>
    </md-card-header>

    <md-card-content>
      <img src="../assets/img/ico/blockchain.png" mdTooltip="Blockchain">
      <p>content</p>
    </md-card-content>

  </md-card>
</div>
