/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-button,
.mat-icon-button,
.mat-raised-button {
  font-family: 'Rubik';
}

p {
  font-family: 'Roboto Mono';
}

nav {
  text-align: center;
}


/* Technology name */

.mat-input-infix {
  font-family: 'Roboto Mono';
}

.mat-select-placeholder {
  font-family: 'Roboto Mono';
}


/* Technology type */

.mat-option {
  font-family: 'Roboto Mono';
}

.mat-select-value-text {
  font-family: 'Roboto Mono';
}

.mat-option {
  opacity: 0.8;
}

/* Technologys */

.mat-card-title {
  font-family: 'Rubik';
  font-weight: bold;
}

.mat-card-subtitle {
  font-family: 'Roboto Mono';
  font-style: italic;
}
