/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-button,
.mat-icon-button,
.mat-raised-button {
  font-family: 'Open Sans';
}

/* p {
  font-family: 'Source Code Pro';
} */

nav {
  text-align: center;
}
